#parentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    height: 390px;
    max-width: 290px;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 18px;
    background-color: #232526;
}

#display{
    display:flex;
    justify-content: flex-end;
    height: 75px;
    width: 100%;
    font-size: 72px;
    border-radius: 5px;
    color:aliceblue;
    background-color: #232526;
    overflow: hidden;
}

button{
    flex: 1 20%;
    margin: 5px;
    border-radius: 24px;
    border: none;
    color:aliceblue;
}

button:hover {
    background-color: #e7e7e7;
    color:#232526;
}


.number-btn{
    background-color: #414345;
}

.number-btn:active {
    background-color: #414345;
    transform: translateY(2px);
}

.operator-btn{
    background-color: #8a9096;
}

.operator-btn:active {
    background-color: #8a9096;
    transform: translateY(2px);
}

#equal{
    background-color: #8a9096;
}

#equal:hover {
    background-color: #e7e7e7;
    color:#232526;
}

#equal:active {
    background-color: #8a9096;
    transform: translateY(2px);
}

.percent-btn{
    background-color: #5c646d;
}

.percent-btn:active {
    background-color: #5c646d;
    transform: translateY(2px);
}

.other{
    background-color: #5c646d
}

.other:active {
    background-color: #5c646d;
    transform: translateY(2px);
}